article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

button:focus {
	outline: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	height: 80px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	/* background: rgba(42, 44, 57, 0.1); */
  }
  
  #header.header-transparent {
	background: transparent;
  }
  
  #header.header-scrolled {
	/* background: rgba(42, 44, 57, 0.1); */
  }
  
  #header .logo h1 {
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
	color: #49976d;
	text-decoration: none;
  }
  
  #header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
  }
  /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
	float: left;
  }
  
  .nav-menu a {
	display: block;
	position: relative;
	color: #000000;
	padding: 10px 25px;
	margin-left: 5px;
	transition: 0.3s;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
  }


  /* on select/hover */

  .nav-menu .active > a::after {
	position: absolute;
	content: '';
	height: 2px;
	  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
	bottom: -4px; 
   /****** 
   optional values below 
   ******/
	/* center - (optional) use with adjusting width   */
	margin: 0 auto;
	  left: 0;
	right: 0;
	  width: 50%;
	  background: green; 
	  /* optional animation */
	  -o-transition:.5s;
		-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
  }

  .nav-menu .active > a:hover:after {
	width: 80%;
	background: orange;
  }

  /* .nav-menu .active > a {
	text-decoration: none;
	color: #49976d;
	align-items: center;
	border-radius: 5px;
	box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.1);
	background-color: #f4ba48;
  }

  .nav-menu a:hover, .nav-menu li:hover > a {
	text-decoration: none;
	color: #49976d;
	align-items: center;
	box-shadow: -5px -5px 5px 0 rgba(253, 215, 141, 0.35);
	background-color: #f4ba48;
  } */
  
  .nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% - 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
	border-radius: 15px;
	margin-top: 5px;
  }
  
  .nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  
  .nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
  }
  
  .nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #2a2c39;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
	background: none;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	align-items: center;
	background-color: #f4bb47;
  }
  
  .nav-menu .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
	padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
  }
  
  @media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
	  left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover > ul {
	  left: -100%;
	}
	.nav-menu .drop-down .drop-down > a:after {
	  content: "\ea9d";
	}
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
  }
  
  .mobile-nav-toggle i {
	color: #fff;
  }
  
  .mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	/* bottom: 15px; */
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
  }
  
  .mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .mobile-nav a {
	display: block;
	position: relative;
	color: #2a2c39;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
	/* color: #f4bb47; */
	text-decoration: none;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	align-items: center;
	background-color: #f4bb47;
  }
  
  .mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
	padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
	padding-left: 20px;
  }
  
  .mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(20, 21, 28, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
	overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
  }

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
}

.content {
	position: relative;
	display: block;
}

.content__section {
	position: relative;
	text-align: right;
	padding: 0 6vmax;
}

.content__section:first-child {
	margin: 0 0 30vh;
}

.content__section:last-child {
	margin: 18vh 0 0;
}

.content__section:first-child,
.content__section:last-child {
	height: calc(100vh - 9.875em);
	text-align: left;
}

.content__link {
	display: block;
	position: relative;
	max-width: 100%;
	margin: 10vh 0 30vh auto;
}

.content__link--nobottom {
	margin-bottom: 10vh;
}

.content__img {
	position: relative;
	display: block;
	max-width: 90%;
	margin: 0 0 0 auto;
}

.content__text {
	color: var(--color-scroll-text);
	font-size: var(--fontsize-scroll-text);
	font-family: var(--font-scroll-text);
	margin: 0;
	line-height: 1;
	text-transform: lowercase;
	font-weight: normal;
}
.content__text.black {
	color: var(--color-scroll-black);
}
.content__text.red {
	color: var(--color-scroll-red);
}

.content__main,
.content__contact {
	color: #fff;
}

.content__contact p {
	opacity: 0.6;
	padding: 0 0 0 210px;
}

.content__contact a {
	color: #fff;
	display: inline !important;
}
/* #contact .content__text {
	display: none !important;
} */

.content__text {
	position: absolute;
	bottom: 6vmax;
	left: 0;
	padding-left: 6vmax;
	z-index: 1000;
	line-height: 0.8;
}

.js .ioapi .content__text {
	position: fixed;
	opacity: 0;
	white-space: pre;
}

.content__contact .info {
	padding: 0 0 0 210px;
}

.content__contact h1{
	/* font-size: calc(var(--fontsize-scroll-text) / 2); */
	font-family: var(--font-scroll-text);
	font-size: 214.5px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.content__contact a:last-child {
	display: block;
}

@media screen and (max-width: 50em) {
	.info {
		padding: 0;
		position: relative;
		-webkit-writing-mode: initial;
		writing-mode: initial;
		text-align: center;
		bottom: auto;
		right: auto;
		margin: 0;
	}
	.content__text,
	.js.ioapi .content__text {
		bottom: 7rem;
	}
	.content__section:first-child, 
	.content__section:last-child {
		height: calc(100vh - 13.875em);
	}
	.content__main, 
	.content__contact {
		bottom: calc(var(--fontsize-scroll-text) * 1.5 + 15vh);
	}
}

@media (max-width: 768px) {
	.content__section:last-child {
		margin-top: 20vh;
	}
	.content__main, .content__contact {
		position: inherit;
		bottom: 0;
	}
	#about h1 {
		font-size: 20px !important;
	  }
	  
	  #about h4 {
		font-size: 25px !important;
	  }
	  
	  #about p {
		font-size: 12px !important;
	  }
	#about .frame-img, #resume .w-50 {
		display: none;
	}
	#uiux .p-5{
		padding: 2rem!important;
	}
	.content__contact .info {
		padding: 0;
	}
	.content__contact h1{
		font-size: 20px;
	}
	.content__contact p {
		padding: 0;
	}
  }
